<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764542345280-6scba13266bkei2lqr0kjtroqctnluki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764542345280-6scba13266bkei2lqr0kjtroqctnluki</string>
	<key>API_KEY</key>
	<string>AIzaSyCYu4jrnKG0lT4_UhGhE5R1CwxBJwX3mXg</string>
	<key>GCM_SENDER_ID</key>
	<string>764542345280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dftsoft.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>flazhed-b5e09</string>
	<key>STORAGE_BUCKET</key>
	<string>flazhed-b5e09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764542345280:ios:08a342c90eba6368d93fa5</string>
</dict>
</plist>